services:
    attacker:
        image: alpine
        container_name: arp_attacker
        mac_address: 02:42:aa:aa:00:02
        networks:
            arp_network:
                ipv4_address: 192.168.0.2
        volumes:
            - ./attacker_entrypoint.sh:/attacker_entrypoint.sh
        command: /bin/sh /attacker_entrypoint.sh # Keeps the container running
        cap_add:
            - NET_ADMIN # Necessary for network manipulation
            - NET_RAW # Needed for raw sockets (ARP)
        dns:
            - 8.8.8.8 #dns google psk alpine se fout de ma gueule

    victim:
        image: alpine
        container_name: arp_victim
        mac_address: 02:42:aa:aa:00:03
        cap_add: [NET_ADMIN]
        networks:
            arp_network:
                ipv4_address: 192.168.0.3
        command: tail -f /dev/null

networks:
    arp_network:
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 192.168.0.0/16
